version: "3.8"

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-network

  backend:
    image: matheshwarsr/mean-backend:latest
    restart: unless-stopped
    container_name: backend
    environment:
      PORT: 8080
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: mean_db
      MONGO_USER: root
      MONGO_PASSWORD: examplepassword
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    networks:
      - mean-network

  frontend:
    image: matheshwarsr/mean-frontend:latest
    restart: unless-stopped
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80"
    networks:
      - mean-network

  nginx-proxy:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    restart: unless-stopped
    volumes:
      - ./nginx/proxy.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - mean-network

volumes:
  mongo_data:

networks:
  mean-network:
    driver: bridge
    name: mean-network